@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: "Proletarsk";
    src: url("./fonts/Proletarsk.ttf") format("truetype"),         
  }

@mixin sloganFont {
    font-family: 'Proletarsk', sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    // line-height: 33px;
    letter-spacing: 0.05em;
    text-align: left;
    text-align: center;
}

@mixin mainText {
    font-family: 'Proletarsk', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    // line-height: 59px;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@mixin btnText {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.05em;
    text-align: left;
}

@mixin bobEffect {
    animation: bob ease-in-out 1.5s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
}
@mixin rotation ($duration, $delay, $origin) {
    animation: roll infinite;
    animation-duration: $duration;
    transform-origin: $origin;
    animation-delay: $delay;   
}
@mixin fadeIn ($duration) {
    // transition: all ease-out 300ms;
    animation: fadeIn;
    animation-duration: $duration;    
    // animation-delay: $delay;   
}

$backgroundColor : linear-gradient(1.17deg, rgb(5, 13, 41) 1.14%, #020a1f 99.14%);
$backgroundColor2 : linear-gradient(180deg, #3a0301 0.64%, #310103 100.03%);
$textColor :  rgb(133, 135, 199);
$textHLColor :  rgb(207, 202, 242);
$bigTextColor : rgb(255, 255, 255);
$btnGradient : linear-gradient(180deg, #E52D27 0.64%, #BF171D 100.03%);
$iconColor : rgba(210, 34, 34, 1);
@mixin iconShadows {
    box-shadow: 3px 3px 8px 0px rgba(155, 25, 25, 0.9);
    box-shadow: -3px -3px 6px 0px rgba(255, 43, 43, 0.9);
    box-shadow: 3px -3px 6px 0px rgba(155, 25, 25, 0.2);
    box-shadow: -3px 3px 6px 0px rgba(155, 25, 25, 0.2);
    box-shadow: -1px -1px 2px 0px rgba(155, 25, 25, 0.5) inset;
    box-shadow: 1px 1px 2px 0px rgba(255, 43, 43, 0.3) inset;
} 

/////// END OF VARIABLES

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: $backgroundColor;  
    color: $textColor; 
}

.container {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    height: 100vh;
    display: grid;
    justify-items: center;
    padding: 5%;
    
}

h2 {
    @include mainText();
    align-self: center;
    // margin-bottom: 4em;
    z-index: 1000;
    color: $bigTextColor;
}

.head {
    // margin-top: 5em;
    // margin-bottom: 10em;
    z-index: 1000;
    
}

#logo {
    width: 634px;
    max-width: 634px;
    @include fadeIn(3s);
}

.slogan{
    @include sloganFont();    
    @include fadeIn(3500ms);
    span{
        color: $textHLColor;
    }
}

.cta {
    z-index: 1000;
    align-self: end;
    // padding-bottom: 10px;

    .ctaText{
        @include sloganFont();
    }
}



// .goYtb {      
//     display: flex;
//     align-items: center;
//     justify-content:space-around;
//     z-index: 1000;
//     padding-right: 30px;
//     padding-left: 20px;    
//     width: 428px;
//     height: 110px;
//     // background: url(/imgs/btn-bg.svg);
//     background: url(https://kingdompro.github.io/KingdomLanding/imgs/btn-bg.svg);
//     background-size: contain;
//     background-position: 0px 0px;
//     background-repeat: no-repeat;  
//     transition: all ease-in-out 300ms;
    
//     &:hover {
//         @include bobEffect();    
    
//     }  

//     span {
//         @include btnText();
//         color: white;
//         margin-left: -80px;
//         margin-top: -10px;
//     }

//     .icon {
//         background: url(https://kingdompro.github.io/KingdomLanding/imgs/ytb.svg);
//         // background: url(/imgs/ytb.svg);
//         background-size: contain;
//         background-position: 0px 0px;
//         background-repeat: no-repeat;
//         width: 200px;
//         height: 90px;          
//     }
// }

#iso1 {
    position: absolute;
    // width: 677.79px;
    // height: 421.36px;
    left: -10%;
    top: -3%;
    z-index: 1;
    @include rotation(15s, 15sec, 50% 50%);
    opacity: 40%;
    filter: blur(8px);   
}

#strip {
    position: absolute;
    top: 50%;
    transform: translateY(-35%);
    left: 0;
    // opacity: 40%;
    z-index: 10;
}

#iso2 {
    position: absolute;
    // width: 783.02px;
    // height: 776.46px;
    right: -20%;
    top: 185.01px;
    z-index: 500; 
    opacity: 10%; 
    filter: blur(2px);
    @include rotation(60s, 0, 50% 50%); 
}


.filter {
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
    background: linear-gradient(1.17deg, rgba(34, 39, 54,1) 1.14%, rgba(0, 0, 0,1 ) 99.14%);
    background-blend-mode: multiply;
    backdrop-filter: blur(3px);
    opacity: 70%;
    z-index: 11;
}

#video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    opacity: 10%;
    z-index: -1;

}

@keyframes bob {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(0px, -5px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes roll {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    0% {
        transform: translateY(-15px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}